@import "../core/breakpoint.css";

.dropDownCont {
    text-align: left;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #949494;
    height: 48px;
    width: 90%;
    position: relative;
    @media (--viewport-sm) {
        width: 99%;
    }
    &:before{
        content: "";
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #202020;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    & .dropDownBtn{
        padding: 13px 40px 13px 0;
        position: absolute;
        width: 100%;
        margin-left: 16px;
        color: #202020;
        font: normal 16px Open Sans,OpenSans,sans-serif;
        line-height: 20px;
    }
}