@import "./font.css";
@import "./color.css";
@import "./breakpoint.css";

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-sandal);
    font-family: var(--primary-font);
}
table{
    border-collapse: none;
    border-spacing: 0;
}

.text-center{
    text-align: center;
}

*{
    outline: none;
}
select {
background-color: transparent; /* 1 */
border-style: none; /* 1 */
color: inherit; /* 1 */
font-size: 1em; /* 1 */
margin: 0; /* 3 */
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
input{
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

@media (--viewport-sm) {
    .visibleMd {
        display: none
    }
    .visibleLg {
        display: none
    }
    .visibleXl {
        display: none
    }
    .hiddenSm {
        display: none
    }
}
/* Medium breakpoints */
@media (--viewport-md) {
    .visibleSm {
        display: none
    }
    .visibleLg {
        display: none
    }
    .visibleXl {
        display: none
    }
    .hiddenMd {
        display: none
    }
}
/* Large breakpoints */
@media (--viewport-lg) {
    .visibleSm {
        display: none
    }
    .visibleMd {
        display: none
    }
    .visibleXl {
        display: none
    }
    .hiddenLg {
        display: none
    }
}
/* Extra Large */
@media (--viewport-xl) {
    .visibleSm {
        display: none
    }
    .visibleMd {
        display: none
    }
    .visibleLg {
        display: none
    }
    .hiddenXl {
        display: none
    }
}