:root {
    --color-white: #ffffff;
    --color-light-grey: #fcfcfc;
    --color-gray1: #9b9b9b;
    --color-gray2: #6c6c6c;
    --color-gray3: #cdcdcd;
    --color-gray4: #7b7b7b;
    --color-sandal: #f2ede8;
    --color-sanal1: #ececce;
    --color-blue: #5c84f2;
}