@import "../core/breakpoint.css";

.mulValCont{
    position: relative;
    width: 48%;
    display: inline-block;
    & .mulCloseBtn{
        position: absolute;
        border: none;
        background: transparent;
        right: 16px;
        font-size: 19px;
        top: -3px;
        @media (--viewport-sm) {
            top: 0;
            right: 28px;
        }
    }
    & .mulValAdCont{
        width: 100%;
        margin-bottom: 5px;
        & .mulValInpCont{
            width: 75%;
            display: inline-block;
        }
        & .mulValAdbtnCont{
            width: 20%;
            margin-left: 3px;
            float: right;
            display: inline-block;
        }
    }
}